#shadow {
  z-index: 200;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: var(--back-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
}
#parent {
  background-color: var(--background-color);
  border-radius: 5px;
  max-width: 500px;
}

#header {
  padding: 20px;
  display: flex;
  align-items: center;
}
#header h2 {
  margin: 0;
}
#closeButton {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}
#closeButton span {
  font-size: 17px;
}

#content {
  padding: 0 20px;
}
#content input,
#content textarea {
  border: none;
  outline: none;
  background-color: var(--special-bg);
  padding: 10px 20px;
  border-radius: 5px;
}
#content textarea {
  width: 400px;
  height: 100px;
  resize: none;
}
#accountImage > div {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
#accountImage img {
  border-radius: 50%;
  border: solid 3px var(--background-color);
  outline: solid 3px var(--theme-color-level-3);
}
#allComplete a {
  display: inline;
  margin: 20px 0;
  color: var(--link-color);
}

#operation {
  margin-top: 40px;
  display: flex;
  background-color: var(--special-bg);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px 20px;
}
#operation button {
  width: 90px;
  height: 35px;
}
#return {
  margin-right: auto;
}
#next {
  margin-left: auto;
}
