#parent {
  width: fit-content;
  margin: 0 auto;
  text-align: center;
}

#inputArea {
  display: flex;
  flex-flow: column;
  gap: 30px;
  margin: 50px 0;
}
#inputArea textarea,
#inputArea input {
  border: none;
  outline: none;
  background-color: var(--special-bg);
  resize: none;
}
#inputTitleArea,
#inputTagArea {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
#inputTitleArea label,
#inputTagArea label {
  display: block;
  text-wrap: nowrap;
}
#inputTitleArea input,
#inputTagArea input {
  width: 200px;
  height: 40px;
  border-radius: 20px;
  padding: 0 20px;
  width: 100%;
}
#InputBodyArea {
  text-align: left;
}
#article {
  margin-bottom: 40px;
  border: solid 1px var(--font-color);
  border-radius: 5px;
  padding: 20px;
  width: calc(100vw - 100px);
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#InputBodyArea textarea {
  border-radius: 5px;
  padding: 20px;
  height: 50vh;
  width: calc(100vw - 100px);
  max-width: 600px;
}
