#headerContainer {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: var(--alpha-background-color);
  backdrop-filter: blur(5px);
  z-index: 10;
  padding: 10px;
  padding-bottom: 20px;
}
#children {
  padding-top: 100px;
  padding-bottom: 80px;
  margin: 0 10px;
  display: flex;
}
#directChild {
  flex-grow: 1;
}
