#parent {
  max-width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-flow: row;
  gap: 80px;
  margin-top: 50px;
}

#leftItem {
  padding: 20px;
  display: flex;
  flex-flow: column;
  gap: 20px;
  border-radius: 5px;
  height: fit-content;
  position: -webkit-sticky;
  position: sticky;
  top: 130px;
}
.leftButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 250px;
  height: 50px;
}
#linkArea a {
  display: flex;
  text-decoration: none;
  align-items: center;
  gap: 15px;
  padding: 10px 10px;
  border-radius: 5px;
  margin: 0;
}
#linkArea a:hover {
  background-color: var(--special-bg);
  transition: background-color 0.2s;
}
#linkArea a span {
  font-size: 20px;
}
#linkArea a.tagCurrent,
#linkArea a.tagCurrent span {
  color: var(--link-color);
  font-weight: bold;
}
#tags {
  margin-left: auto;
}
#search {
  margin: 10px 0;
  display: flex;
  gap: 10px;
  justify-content: center;
}
#search input {
  outline: none;
  border: none;
  background-color: var(--special-bg);
  height: 40px;
  border-radius: 20px;
  padding: 0 20px;
  width: 100vw;
  max-width: 400px;
}
#search button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
}
#search button span {
  font-size: 15px;
  display: block;
}
#localTagsWrapper {
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
  max-width: calc(100vw - 60px);
}
#localTags {
  gap: 10px;
  display: flex;
}
#localTags::-webkit-scrollbar {
  height: 0;
}
#localTags input {
  opacity: 0;
  position: absolute;
}
#localTags label {
  display: block;
  background-color: var(--special-bg);
  padding: 7px 14px;
  border-radius: 5px;
  cursor: pointer;
  text-wrap: nowrap;
}
#localTags label:hover {
  background-color: var(--theme-color-level-1);
  transition: background-color 0.2s;
}
#localTags input:checked + label {
  background-color: var(--theme-color-level-2);
  transition: background-color 0.2s;
}

#articles {
  max-width: 700px;
  display: flex;
  flex-flow: column;
  gap: 30px;
}
.oneArticle h3 {
  margin: 0;
}
.oneArticle > p {
  margin-bottom: 10px;
}
.accountArea {
  display: flex;
  gap: 10px;
  align-items: center;
}
.accountArea img {
  border-radius: 50%;
  display: block;
}
.accountArea p {
  color: var(--pale-font-color);
  font-size: 14px;
}
.accountArea p {
  margin-right: 15px;
}
.tagArea {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.tagArea a {
  color: var(--link-color);
  text-decoration: none;
}
.tagArea a:hover {
  text-decoration: underline;
}
#readMore {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px auto;
}
#readMore span {
  font-size: 20px;
}
