#login {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  z-index: 100;
  background-image: url(/brandAsset/back.jpg);
  background-size: cover;
}
#login::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(12px);
  background-color: rgba(255, 255, 255, 0.151);
  position: absolute;
  top: 0;
  left: 0;
}

#login_ui {
  width: fit-content;
  margin: 20px auto;
  text-align: center;
  background-color: var(--background-color);
  border-radius: 5px;
  z-index: 1;
  padding: 0px 70px;
}
#title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 60px;
}
#button_area {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
  margin-top: 30px;
  width: fit-content;
}
#button_area button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background-color: var(--background-color);
  border: solid 1px var(--font-color);
  padding: 5px 15px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.2s;
}
#button_area button:hover {
  background-color: var(--hover-back);
}
#button_area button:active {
  background-color: var(--active-back);
}

#kyouryoku {
  margin-top: 40px;
  margin-bottom: 20px;
}
#kyouryoku_play {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  gap: 5px;
}
#kyouryoku_play h1 {
  font-size: 20px;
  margin: 0;
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN", "HGS明朝E",
    "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}
#kyouryoku_play p {
  font-size: 8px;
  margin: 0;
}
#credit {
  font-size: 12px;
  margin: 0;
  margin-top: 5px;
}
