#accountPage {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 30px;
}

#accountInfo {
  display: flex;
  gap: 50px;
  margin-bottom: 50px;
  width: fit-content;
}
#ai_image_area img {
  border-radius: 50%;
}
#editPhoto {
  background-color: var(--background-color);
  border: solid 3px var(--theme-color-level-1);
  border-radius: 50%;
  width: 110px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#editPhoto div {
  position: absolute;
  border-radius: 50%;
  background-color: var(--theme-color-level-1);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  bottom: 0;
}
#editPhoto:hover {
  border: solid 3px var(--theme-color-level-2);
  transition: 0.3s border;
}
#editPhoto:hover div {
  background-color: var(--theme-color-level-2);
  transition: 0.3s background-color;
}

#ai_desc_area div {
  display: flex;
  align-items: center;
  gap: 20px;
}
#ai_desc_area div input {
  border: none;
  font-weight: bold;
  font-size: 20px;
  outline: none;
  background-color: var(--background-color);
}
#ai_desc_area div input:read-write {
  border-bottom: solid 2px var(--theme-color-level-2);
  background-color: var(--special-bg);
  padding: 5px 10px;
}
#ai_desc_area div button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
#ai_desc_area div button span {
  font-size: 20px;
}

#allCommunityArea {
  width: 90%;
}
#communityAreaTitle {
  text-align: center;
}
#communityTip {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(260px, 260px));
  margin-bottom: 50px;
  margin-top: 30px;
  justify-content: center;
}
.oneCommunity {
  display: flex;
  flex-flow: column;
  background-color: var(--special-bg);
  border-radius: 5px;
  padding: 20px 30px;
}
.caption {
  display: flex;
  align-items: center;
  gap: 10px;
}
.iconArea {
  width: 40px;
  height: 40px;
  background-color: var(--white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconArea p {
  color: black;
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN", "HGS明朝E",
    "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-weight: bold;
}
.caption h3 {
  flex: 1;
}
.description {
  color: var(--pale-font-color);
  margin-top: 0;
}
.communityState {
  display: flex;
  gap: 15px;
  align-items: center;
}
.communityState p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 0;
}
.admin {
  background-color: var(--green);
  width: 80px;
  height: 30px;
  border-radius: 15px;
}
.communityState p span {
  font-size: 20px;
}
.topic {
  margin-bottom: 30px;
  background-color: var(--green);
  width: fit-content;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 20px;
}
.oneCommunityOperation {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}
.oneCommunityOperation button {
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.oneCommunityOperation button span {
  font-size: 20px;
}
.byby {
  background-color: var(--red);
}
.byby:hover {
  background-color: var(--red-2);
}
.byby:active {
  background-color: var(--red-3);
}
