.gametile {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  text-decoration: none;
  position: relative;
  gap: 10px;
}

#img_wrapper {
  width: 100%;
  aspect-ratio: 1.333333;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  background-color: var(--special-bg);
}
#img_wrapper div {
  width: 100% !important;
  height: 100% !important;
}
#img_wrapper img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  overflow: hidden;
  transition: transform 0.2s;
}
.gametile:hover #img_wrapper img {
  transform: scale(1.1);
}
#game_title {
  line-height: 1.8em;
  margin: 0;
}
#description_p {
  color: var(--pale-font-color) !important;
  line-height: 1.8em;
  margin: 0;
}

@media screen and (max-width: 428px) {
  .gametile {
    gap: 10px;
  }
  #game_title {
    font-size: 18px;
    line-height: 1.8em;
    margin: 0 10px;
  }
  #description_p {
    line-height: 1.8em;
    font-size: 14px;
    margin: 0 10px;
  }
}
