/*全体*/
#Header {
  display: flex;
  align-items: center;
  padding: 10px;
  position: fixed;
  z-index: 10;
  background-color: var(--alpha-background-color);
  width: 100%;
  padding-bottom: 20px;
  backdrop-filter: blur(5px);
  align-items: center;
}

#openMenu {
  display: none;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  margin: 0 10px;
  cursor: pointer;
}
@media (prefers-color-scheme: dark) {
  #openMenu img {
    filter: invert(0.7);
  }
}
#linkAreaNaviInput {
  display: none;
}
/*タイトルエリア*/
#titleArea {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--font-color);
}
#titleIconArea {
  display: flex;
  align-items: center;
}
#titleIconArea img {
  width: 50px;
  height: 50px;
}
#titleStringArea {
  margin-left: 10px;
  text-align: center;
}
#titleStringArea * {
  margin: 0;
  padding: 0;
}
#titleStringArea p {
  line-height: 20px;
  font-size: 12px;
}
#titleStringArea h1 {
  line-height: 35px;
  font-size: 30px;
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN", "HGS明朝E",
    "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

/*リンクエリア*/
#right {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 30px;
  gap: 30px;
}
#linkArea {
  display: flex;
  gap: 30px;
  align-items: center;
}
#linkArea a {
  color: var(--font-color);
  text-decoration: none;
  font-weight: 500;
}
#linkArea a:hover {
  color: var(--link-color);
  transition: color 0.2s;
}

/*レスポンシブCSS*/
@media screen and (max-width: 720px) {
  #openMenu {
    display: block;
  }
  #linkArea {
    display: none;
    position: absolute;
    left: 0px;
    top: 85px;
    background-color: var(--background-color);
    width: 100vw;
    text-align: center;
  }
  #linkArea a {
    display: block;
    padding: 20px 0;
  }
  #linkAreaNaviInput:checked ~ #linkArea {
    display: block;
    transform-origin: 0px 0px;
    animation: transformMenu 0.3s;
  }
  @keyframes transformMenu {
    0% {
      transform: scaleY(0);
    }
    100% {
      transform: scaleY(1);
    }
  }
}
