/*全体*/
#tile {
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 150px;
  text-decoration: none;
  padding-top: 20px;
  position: relative;
  transition: transform 0.2s;
}
#tile:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px 0 var(--special-bg);
}
#tile:hover {
  text-decoration: underline;
}
#tile img {
  border-radius: 5px;
}
#tile p {
  font-size: 16px;
  font-weight: bold;
}
#tile a,
#tile p,
#tile h2,
#tile h3 {
  color: var(--font-color);
}
