/*全体*/
#tile {
  border-radius: 5px;
  box-sizing: border-box;
  padding: 20px;
  border-style: solid;
}
.tile_big {
  border-width: 4px;
}
.tile_small {
  border-width: 2px;
}
#tile a {
  text-decoration: none;
}
#tile a,
#tile p,
#tile h2,
#tile h3 {
  color: var(--font-color);
}
#tile a:hover {
  color: var(--link-color);
  transition: color 0.3s;
}

/*上*/
#top {
  display: flex;
  gap: 10px;
}

#left {
  width: 45%;
  padding-left: 10px;
}

#right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
#right img {
  width: 100px;
  height: 100px;
  display: block;
  border-radius: 5px;
  object-fit: cover;
}
#right.big img,
#right.big div {
  width: 200px;
  height: 200px;
}

/*下*/
#bottom {
  width: 100%;
  margin: 10px 0;
  text-align: center;
}
