/*全体*/
#Header {
  display: flex;
  align-items: center;
  padding: 10px;
  position: fixed;
  z-index: 10;
  background-color: var(--alpha-background-color);
  width: 100%;
  padding-bottom: 20px;
  backdrop-filter: blur(5px);
}

/*タイトルエリア*/
#titleArea {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--font-color);
}
#titleIconArea {
  display: flex;
  align-items: center;
}
#titleIconArea img {
  width: 50px;
  height: 50px;
}
#titleStringArea {
  margin-left: 10px;
  text-align: center;
}
#titleStringArea * {
  margin: 0;
  padding: 0;
}
#titleStringArea p {
  line-height: 20px;
  font-size: 12px;
}
#titleStringArea h1 {
  line-height: 35px;
  font-size: 30px;
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN", "HGS明朝E",
    "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

/*リンクエリア*/
#linkArea {
  display: flex;
  gap: 20px;
  margin-left: auto;
  margin-right: 30px;
}
#linkArea > div {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#linkArea a {
  color: var(--font-color);
  text-decoration: none;
  font-weight: 500;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#linkArea span {
  font-size: 28px;
}
#linkArea img {
  border-radius: 50%;
}
#linkArea button {
  background-color: var(--theme-color-level-1);
  border: none;
  height: 40px;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  width: 100px;
}
#linkArea button:hover {
  background-color: var(--theme-color-level-2);
  transition: background-color 0.2s;
}
#linkArea button:active {
  background-color: var(--theme-color-level-3);
  transition: background-color 0.2s;
}
#linkArea a:hover {
  background-color: var(--theme-color-level-1);
  transition: background-color 0.2s;
}

@media screen and (max-width: 800px) {
  .headerLink {
    display: none !important;
  }
}
