#inBlock {
  max-width: 800px;
  margin: 20px auto;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  position: relative;
}
#titleArea {
  position: relative;
  display: flex;
  align-items: center;
}
#titleArea h2 {
  margin: 10px 20px;
}
#titleArea a {
  margin-left: auto;
  color: rgb(0, 26, 143);
  font-weight: bold;
  margin-right: 10px;
  text-decoration: none;
}
