#article {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-bottom: 100px;
  margin-top: 20px;
}
#inputTitle {
  border: none;
  outline: none;
  background-color: var(--special-bg);
  padding: 15px 20px;
  border-radius: 5px;
  font-size: 17px;
  font-weight: bold;
}
#inputTitle::placeholder {
  font-weight: normal;
}
#inputTitle:focus {
  outline: solid 1px var(--theme-color-level-3);
}
#tagInputArea > div {
  max-width: 600px;
  box-sizing: border-box;
}
