#tagInputArea {
  max-width: 500px;
  width: 100vw;
  position: relative;
}
#tagInputArea input {
  box-sizing: border-box;
  width: 100%;
  border-radius: 9999px;
  border: none;
  padding: 10px 20px;
  background-color: var(--special-bg);
  transition: outline-color 0.1s;
  outline: solid 1px var(--background-color);
}
#tagInputArea input:focus {
  outline: solid 1px var(--link-color);
}
#tagInputArea div:last-child {
  position: relative;
  background-color: var(--background-color);
  display: flex !important;
  gap: 10px;
  padding: 0px;
  padding-top: 5px;
}
#tagInputArea div:last-child p {
  border-radius: 9999px;
  padding: 10px 15px;
  background-color: var(--green-bg);
  transition: background-color 0.2s;
  border: solid 1px var(--green-2);
}
#tagInputArea div:last-child p:hover {
  background-color: var(--green);
}
#tagInputArea div:last-child p::before {
  content: "# ";
}
