#operation {
  align-items: center;
  position: relative;
  margin-top: 20px;
  border-radius: 5px;
  background-color: var(--special-bg);
  padding: 20px 0;
}
#operation > div {
  justify-content: center;
}
#buttons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
#selectTextType {
  border-radius: 5px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
#selectTextType::-webkit-scrollbar {
  width: 0;
}
#selectTextType button {
  display: block;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  margin: 0 20px;
}
#selectTextType button * {
  margin: 0;
}

#operation button {
  width: fit-content;
  height: fit-content;
  padding: 5px;
}
#operation button span {
  font-size: 20px;
  display: block;
}

#editorArea > div:last-child {
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 20px;
  border: solid 1px var(--font-color);
  margin-top: 30px;
  transition: border-color 0.2s, box-shadow 0.2s;
}
#editorArea > div:last-child:focus {
  border: solid 1px var(--theme-color-level-2);
  box-shadow: 0 0 10px 0 var(--theme-color-level-2);
}
