#operation {
  align-items: center;
  position: relative;
  background-color: var(--background-color);
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 100px;
  width: calc(100% - 100px);
  display: flex;
  gap: 20px;
  z-index: 20;
}
#operation > div {
  justify-content: center;
}
#operation button {
  width: fit-content;
  height: fit-content;
  padding: 5px;
}
#operation button span {
  font-size: 20px;
  display: block;
}

#buttons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-left: 20px;
}

#selectTextType {
  border-radius: 5px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  background-color: var(--background-color);
  cursor: pointer;
  border: solid 1px var(--font-color);
  padding: 5px 20px;
  outline: none;
}

#saveButtonArea {
  margin-left: auto;
  display: flex;
  gap: 10px;
  margin-right: 20px;
}
#saveButtonArea button {
  width: 80px;
  height: 35px;
}
#publishButton {
  background-color: var(--green);
}
#publishButton:hover {
  background-color: var(--green-2);
}
#publishButton:active {
  background-color: var(--green-3);
}

#editorArea > div:last-child {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-radius: 5px;
  padding: 20px;
  margin-top: 30px;
  transition: border-color 0.2s, box-shadow 0.2s;
  background-color: var(--special-bg);
  outline: solid 1px var(--background-color);
  transition: outline-color 0.2s;
}
#editorArea > div:last-child:focus {
  outline: solid 1px var(--font-color);
}
#editorArea a {
  color: var(--link-color);
}
#editorArea a span {
  color: var(--link-color);
}
.linkPopup {
  position: absolute;
  top: 30px;
  left: 0;
  padding: 5px 10px;
  background-color: var(--background-color);
  border: solid 1px var(--pale-font-color);
  border-radius: 5px;
}
.linkParent {
  position: relative;
}
