@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  width: 24px;
  height: 24px;
  overflow: hidden;
}

html {
  scrollbar-width: thin;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}
* {
  font-family: "Zen Kaku Gothic New", sans-serif;
  color: var(--font-color);
}

/*テーマカラーなど*/
:root {
  --font-color: #00114f;
  --pale-font-color: rgb(65, 78, 124);
  --black-font-color: #00114f;
  --background-color: #f6f9ff;
  --alpha-background-color: #f6f9ffb4;
  --hover-back: #eaf2ff;
  --active-back: #d9e6ff;
  --special-bg: rgb(227, 235, 255);
  --link-color: rgb(0, 132, 255);
  --accent-color: rgb(215, 226, 255);
  --hover-accent: rgb(192, 210, 255);
  --active-accent: rgb(148, 178, 255);
}
/*ダークモード対応*/
@media (prefers-color-scheme: dark) {
  :root {
    --font-color: #c9c0e2;
    --pale-font-color: #b9a4f1;
    --background-color: #000b22;
    --alpha-background-color: #000b22e5;
    --special-bg: #00173c;
    --accent-color: #002157;
    --hover-accent: #002869;
    --active-accent: #003996;
  }
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background-color: var(--background-color);
}
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: rgb(155, 155, 155);
}

#rootParent {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#noneFooterContent {
  flex: 1;
}
#contentArea {
  margin: 0 10px;
  padding-top: 100px;
}

/*記述エリア*/
.explainArea {
  max-width: 600px;
  margin: 20px auto;
}
.explainArea a {
  color: var(--link-color);
}
.explainArea p {
  line-height: 40px;
  font-size: 15px;
  margin: 20px 0;
}
.explainArea h1 {
  text-align: center;
}
.explainArea h2 {
  margin-top: 50px;
}
.explainArea .block {
  margin-top: 40px;
}
@media screen and (max-width: 640px) {
  .explainArea {
    margin: 20px;
  }
}
