#gameSet {
  text-align: center;
}

#gameSetTitle {
  padding: 1em 6em;
  margin: 50px auto;
}

#gameSet canvas {
  border-radius: 5px;
}

#mdArea {
  width: 500px;
  margin: 60px auto;
  text-align: left;
  background-color: var(--special-bg);
  padding: 30px;
  border-radius: 5px;
}
#mdArea h2 {
  text-align: center;
}

#otherGame {
  margin: 30px auto;
  max-width: 700px;
}
#otherGameTile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-top: 60px;
}
