html {
  scrollbar-width: thin;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}
* {
  font-family: "Zen Kaku Gothic New", sans-serif;
  color: var(--font-color);
}

/*テーマカラーなど*/
:root {
  --font-color: #00114f;
  --pale-font-color: #253a88;
  --black-font-color: #00114f;
  --background-color: #f6f9ff;
  --alpha-background-color: #f6f9ffb4;
  --special-bg: rgb(227, 235, 255);
  --alert-color: rgb(255, 0, 64);
  --alert-bg: rgb(255, 205, 205);
  --white: rgb(219, 222, 241);
  --green: rgb(115, 255, 208);
  --green-2: rgb(76, 255, 195);
  --green-3: rgb(27, 255, 172);
  --red: rgb(255, 152, 173);
  --red-2: rgb(255, 110, 139);
  --red-3: rgb(255, 52, 92);
  --gray: rgb(202, 198, 215);
  --gray-2: rgb(184, 178, 201);
  --gray-3: rgb(155, 150, 174);

  --green-bg: rgb(177, 255, 240);
  --red-bg: rgb(255, 212, 224);

  --theme-color-level-1: rgb(191, 209, 255);
  --theme-color-level-2: rgb(163, 189, 255);
  --theme-color-level-3: rgb(112, 152, 255);

  --back-shadow: rgba(0, 0, 0, 0.5);

  --link-color: rgb(0, 132, 255);
}
/*ダークモード対応*/
@media (prefers-color-scheme: dark) {
  :root {
    --font-color: #dcd7eb;
    --pale-font-color: rgb(208, 191, 255);
    --background-color: #000b22;
    --alpha-background-color: #000b22e5;
    --special-bg: #00173c;
    --alert-bg: rgb(66, 0, 0);
    --white: rgb(214, 214, 214);
    --green: rgb(0, 67, 48);
    --green-2: rgb(0, 50, 37);
    --green-3: rgb(6, 40, 25);
    --red: rgb(193, 31, 85);
    --red-2: rgb(176, 29, 88);
    --red-3: rgb(153, 0, 69);

    --green-bg: rgb(11, 90, 78);
    --red-bg: rgb(84, 0, 24);

    --theme-color-level-1: #002a6e;
    --theme-color-level-2: #000f7d;
    --theme-color-level-3: #1700aa;
  }
  img {
    filter: brightness(70%);
  }
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background-color: var(--background-color);
}
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: rgb(155, 155, 155);
}

#rootParent {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#noneFooterContent {
  flex: 1;
}
#contentArea {
  margin: 0 10px;
  padding-top: 100px;
}

/*オブジェクトの基礎的なUI*/
button {
  background-color: var(--theme-color-level-1);
  border: none;
  outline: none;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: var(--theme-color-level-2);
  transition: background-color 0.2s;
}
button:active {
  background-color: var(--theme-color-level-3);
  transition: background-color 0.2s;
}

/*記述エリア*/
.explainArea {
  max-width: 600px;
  margin: 20px auto;
}
.explainArea a {
  color: var(--link-color);
}
.explainArea p {
  line-height: 40px;
  font-size: 15px;
  margin: 20px 0;
}
.explainArea h1 {
  text-align: center;
}
.explainArea h2 {
  margin-top: 50px;
}
.explainArea .block {
  margin-top: 40px;
}
@media screen and (max-width: 640px) {
  .explainArea {
    margin: 20px;
  }
}
