/*メニュー*/
#menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: var(--special-bg);
  width: fit-content;
  z-index: 10;
}
#menu a {
  width: 80px;
  display: block;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 15px 0;
  padding: 10px 10px;
  border-radius: 9999px;
  transition: background-color 0.2s;
  transition: color 0.2s;
}
#menu a span {
  font-size: 22px;
  transition: color 0.2s;
  margin: 0;
}
#menu a p {
  margin: 0;
  font-size: 14px;
}
#menu a:hover {
  color: var(--link-color);
}
#menu a span {
  position: relative;
}
#menu a span::before {
  content: "";
  display: block;
  width: 50px;
  height: 25px;
  border-radius: 9999px;
  position: absolute;
  z-index: -1;
  top: -2px;
  left: -15px;
  transition: background-color 0.4s;
}
#menu a:not(.active_link):hover span::before {
  background-color: var(--theme-color-level-1);
}
.active_link span::before {
  background-color: var(--theme-color-level-2);
}
.active_link span {
  font-weight: bold;
}

/*コンテンツ一覧*/
#contentArea {
  margin: 0 20px;
  gap: 30px;
  flex: 1;
}

/*要約ビュアー*/
#topSummary {
  width: 100%;
  background-color: var(--special-bg);
  display: flex;
  flex-flow: column;
  align-items: center;
  border-radius: 10px;
  padding: 20px 0;
}
#summaryDescription {
  margin-top: 30px;
  margin-bottom: 50px;
}
#profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#profile img {
  background-color: var(--background-color);
  border-radius: 50%;
}
#summaryPageLink {
  display: flex;
  gap: 10px;
}
#onePageLink {
  display: flex;
  flex-flow: column;
  text-decoration: none;
  align-items: center;
  width: 100px;
}
#onePageLink span {
  background-color: var(--theme-color-level-2);
  border-radius: 9999px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  transition: background-color 0.2s;
}
#onePageLink.specialLink span {
  background-color: var(--green-2);
}
#onePageLink:hover span {
  background-color: var(--theme-color-level-3);
}
#onePageLink.specialLink:hover span {
  background-color: var(--green-3);
}

#gameArea .flexContent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
}

#postArea {
  margin-top: 50px;
}
#postArea .flexContent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
}
#moreRead {
  margin: 20px auto;
  width: 140px;
  height: 50px;
  background-color: var(--theme-color-level-1);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 15px;
  transition: background-color 0.2s;
}
#moreRead:hover {
  background-color: var(--theme-color-level-2);
}
