/*メニュー*/
#menu {
  padding: 20px;
  width: fit-content;
  position: sticky;
  top: 100px;
  left: 0px;
  height: fit-content;
}
#menu a {
  display: block;
  font-size: 17px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 15px 0;
  padding: 10px 30px;
  border-radius: 9999px;
  transition: background-color 0.2s;
  transition: color 0.2s;
}
#menu a span {
  font-size: 22px;
  transition: color 0.2s;
}
#menu a:hover {
  color: var(--link-color);
}
#menu a:hover span {
  color: var(--link-color);
}
.active_link {
  color: var(--link-color);
  background-color: var(--special-bg);
}
.active_link span {
  color: var(--link-color);
}

/*コンテンツ一覧*/
#contentArea {
  margin: 20px 50px;
  gap: 30px;
  flex: 1;
}
#contentArea .flexContent {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
#postArea .flexContent > div {
  width: 300px;
  border: solid 1px var(--font-color);
  padding: 20px;
  border-radius: 5px;
  height: fit-content;
}
